.git
deployments
Dockerfile
.gitignore
.gitlab-ci.yml
.pytest_cache/
.mypy_cache/
mypy.ini
.pylintrc
.gitignore
.flake8
README.md
alembic
alembic.ini
app/tests
.pylintrc
venv
*debug*
.idea
.idea/
.env
*venv*
.venv
.venv/